<div class="sentence question mb-3 border-start border-5">
    <span class="sentence__expression d-block p-1 rounded"><%= @question %></span>
    <span class="sentence__expressor "><em>-You</em></span>
</div>
<div class="sentence answer mb-3 border-start border-5 bg-warning">
    <span class="sentence__expression d-block p-1 rounded"><strong><%= @answer %></strong></span>
    <span class="sentence__expressor"><em>-Your coach</em></span>
</div>
<div class="backlink">
    <a href="/ask" class="mt-1 btn btn-outline-primary btn-sm text-decoration-none">Ask a new question</a>
</div>
